<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius morbi enim nunc faucibus a pellentesque sit amet. Dignissim diam quis enim lobortis scelerisque. Vitae nunc sed velit dignissim sodales ut eu sem integer. Gravida arcu ac tortor dignissim convallis aenean et tortor at. Morbi quis commodo odio aenean sed adipiscing diam donec. Eros donec ac odio tempor orci dapibus ultrices. Enim praesent elementum facilisis leo vel. Vel risus commodo viverra maecenas accumsan lacus. Id porta nibh venenatis cras sed felis eget velit. A pellentesque sit amet porttitor eget dolor morbi non arcu.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>At lectus urna duis convallis convallis tellus id. Phasellus egestas tellus rutrum tellus pellentesque. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Ultrices sagittis orci a scelerisque. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Etiam erat velit scelerisque in dictum non consectetur. Adipiscing bibendum est ultricies integer quis auctor elit sed. Donec pretium vulputate sapien nec sagittis aliquam. Senectus et netus et malesuada fames ac turpis. Commodo viverra maecenas accumsan lacus vel. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. In ornare quam viverra orci sagittis. Egestas sed tempus urna et pharetra.</p>
        </div>
    </body>
</html>